@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;

}
:root {
    --bg-color: #212529;
    --text-color: #F7F0F5;
    --tile-text-color: #ECECEC;
    --button-bg-color: #525C66;
    --button-bg-color-hover: rgb(98, 101, 104);
    --bg-correct: #42B868;
    --bg-present: #FFC300;
    --bg-absent: #414141;
    font-family: 'Manrope', sans-serif;
}


html {
    background-color: var(--bg-color);
    color: var(--text-color);
    
}

.keyboard {

      
}

.keyboard > .row {
    display: flex;
    padding: 4px 0;

}

.key {
    margin-right: 10px;
    background-color: var(--button-bg-color);
    color: var(--text-color);
    border: 0;
    border-radius: 10px;
    /* font-weight: bold; */
    font-size: 1.1rem;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 59px;
    text-align: center;

    cursor: pointer;
}

.key:hover {
    background-color: var(--button-bg-color-hover);
}

.key > svg {
    height: 30px;
}

.large-key {
    flex: 1.3;
} 

.bspace {
    flex: 0.3;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    box-sizing: border-box;
    border-bottom: 1px solid var(--button-bg-color);
}

.navbar-left, .navbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    fill: var(--button-bg-color);
}

.navbar-btn:hover{
    fill: var(--tile-text-color);
    
}

.navbar-btn:not(:last-child) {
    margin-right: 5px;
}


.title {
    font-size: 1.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title svg {
    margin-left: 10px;
}

.center {
    margin: 0 auto;
    max-width: 600px;
}

.board {
    padding: 0 140px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 10px;
    margin: 30px 0 60px 0;
}

.tile {
    box-sizing: border-box;
    
    aspect-ratio: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--tile-text-color);
}

.tile[state="empty"] {
    border: 2px solid var(--bg-absent);
}

.tile[state="correct"] {
    background-color: var(--bg-correct);
}

.tile[state="present"] {
    background-color: var(--bg-present);
}

.tile[state="absent"] {
    background-color: var(--bg-absent);
}

svg {
    pointer-events: none;
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left:0;
    right:0;
    bottom:0;
    background-color: var(--bg-color);
    justify-content: center;
    z-index: 100;
    
}

.overlay-open {
    display: flex;
}

.slidein {
    animation: SlideIn 200ms linear;
}

.slideout {
    animation: SlideOut 200ms linear;
}

/* Animations */

@keyframes SlideIn {
    0% {
      transform: translateY(30px);
      opacity: 0;
    }
    100% {
      transform: translateY(0px);
      opacity: 1;
    }
}

@keyframes SlideOut {
    0% {
      transform: translateY(0px);
      opacity: 1;
    }
    90% {
      opacity: 0;
    }
    100% {
      opacity: 0;
      transform: translateY(60px);
    }
}

@keyframes PopIn {
    from {
      transform: scale(0.8);
      opacity: 0;
    }

    40% {
      transform: scale(1.1);
      opacity: 1;
    }
}

@keyframes FlipIn {
    0% {
      transform: rotateX(0);
    }
    100% {
      transform: rotateX(-90deg);
    }
  }

@keyframes FlipOut {
    0% {
        transform: rotateX(-90deg);
    }
    100% {
        transform: rotateX(0);
    }
}

